* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	/* font-family: Arial, Helvetica, sans-serif; */
	font-family: "Comfortaa";
}

/* чтобы страница не сдвигалась при появлении полосы прокрутки */
html {
	overflow-x: hidden;
	margin-right: calc(-1 * (100vw - 100%));
}

/* custom scrollbar -------------*/

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: #fff;
}

::-webkit-scrollbar-thumb {
	background: #959595;
}

::-webkit-scrollbar-thumb:hover {
	background: #f1592a;
}

/* ----------------------------- */
