* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	font-family: "Comfortaa";
}

html {
	overflow-x: hidden;
	overflow-y: hidden;
}

/* custom scrollbar -------------*/

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
	background: #f1592a;
}

/* ----------------------------- */
